* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
p * {
    display: block;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-bottom: 1px solid black;
    padding: 20px 0px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

form {
    width: 700px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}



input:invalid {
    background-color: rgb(255, 123, 123);
}

span.error {
    color: red;
}

#submit {
    background-color: white;
}